@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;

    --font-outfit: 'Outfit', system-ui, sans-serif;
    --font-playfair: 'Playfair', serif;
}

body {
    font-family: var(--font-outfit);
}

.font-playfair {
    font-family: var(--font-playfair);
}
